<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="HibSessionFactory">
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">angad</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/webtools</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="com.reverse.generated.Symptomslist" />
        <mapping class="com.reverse.generated.Vitalsign" />
        <mapping class="com.reverse.generated.Address" />
        <mapping class="com.reverse.generated.Airquality" />
        <mapping class="com.reverse.generated.Person" />
        <mapping class="com.reverse.generated.Symptomsreported" />
        <mapping class="com.reverse.generated.Patient" />
    </session-factory>
</hibernate-configuration>
